@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
:root {
  --primary-color: #6030b1;
  --secondary-color: #ff328f;
  --black-color: #0a1f44;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
html {
  scroll-behavior: smooth;
}

::selection {
  background-color: var(--secondary-color);
  color: white;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  padding: 40px 0;
}

.hidden {
  display: none !important;
  /* visibility: hidden;
    opacity: 0;
    z-index: -1; */
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  position: relative;
  height: 346px;
  background-image: url("./assets/car-banner.jpeg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  background-attachment: fixed;
}

.header:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(41, 25, 71, 0.83);
  pointer-events: none;
}

nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 16px;
  z-index: 1;
}

.site-logo {
  height: 40px;
  width: 150px;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 430px;
}

.link__anchor {
  color: white;
  font-size: 18px;
  font-weight: 600;
  padding: 0 2px;
}

.link__anchor--primary {
  display: flex;
  align-items: center;
  height: 48px;
  background-color: white;
  color: var(--primary-color);
  border-radius: 32px;
  padding: 12px 40px;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 300ms ease;
}

.link__anchor--primary:hover {
  background-color: var(--secondary-color);
  color: white;
}

.hover-effect {
  position: relative;
}

.hover-effect::after {
  content: "";
  position: absolute;
  bottom: -3px;
  right: 0;
  width: 0%;
  height: 2px;
  background-color: white;
  transition: all 300ms ease;
}

.hover-effect:hover.hover-effect::after {
  width: 100%;
  left: 0;
}

/* MOBILE MENU */

.btn__menu {
  background-color: transparent;
  font-size: 40px;
  border: none;
  color: #fff;
  display: none;
}

.menu__backdrop {
  position: fixed;
  background-color: #242424;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  transition: all 300ms ease;
  opacity: 0;
  transform: translate(100%);
}

.menu--open {
  max-height: 100vh;
  overflow: hidden;
}

.menu--open .menu__backdrop {
  visibility: visible !important;
  opacity: 1;
  transform: translate(0);
}

.menu--open .header__content, .menu--open .slider-container {
    z-index: 0;
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__list {
  padding: 32px 0;
}

.menu__link {
  color: white;
  font-size: 40px;
}

.btn__menu--close {
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 8px;
  color: white;
}

.menu--open .link__anchor--primary {
    font-size: 40px;
    padding: 32px 48px;
}

/* END of MOBILE MENU */

.header__content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  z-index: 1;
}

.header__title {
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.1em;
  font-size: 45px;
  max-width: 1000px;
  margin-bottom: 40px;
  color: #fff;
}

.form {
  display: flex;
  justify-content: center;
  width: 100%;
}

.input__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
  max-width: 600px;
  padding: 0 28px;
  border-radius: 32px;
  background-color: #fff;
  overflow: hidden;
  transition: all 300ms ease;
}

.input__wrapper:focus-within {
  box-shadow: 0px 0px 13px 3px #ff328e97;
}

.form__input {
  flex: 1;
  border: none;
  height: 100%;
  font-size: 20px;
  outline: none;
}

.form__submit {
  color: var(--primary-color);
  font-size: 32px;
  margin-left: 16px;
  transition: all 300ms ease;
}

.form__submit:hover {
  color: var(--secondary-color);
}

.row--main {
  padding-left: 16px;
  padding-right: 16px;
}

.main__header {
  display: flex;
  justify-content: space-between;
}

.search-info {
  display: flex;
  align-items: center;
}

.search-info__title {
  display: inline-block;
  color: var(--black-color);
  margin-right: 8px;
  font-size: 28px;
  line-height: 1.25;
}

.search-info__param {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 25px;
  line-height: 1.25;
}

.filter {
  width: 30%;
  min-width: 358px;
}

.filter__header {
  font-size: 20px;
  color: var(--black-color);
}

.filter__value {
  display: inline-block;
  color: var(--primary-color);
  margin-left: 8px;
}

.slider-container {
  position: relative;
  width: 348px;
  margin: 40px 0;
}

input[type="range"] {
  position: absolute;
  width: 100%;
  pointer-events: none; /* prevent default pointer interaction */
  -webkit-appearance: none;
  appearance: none;
  background: none;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: auto; /* allow dragging */
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background-color: white;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  cursor: grab;
  transition: 0.2s;
  z-index: 2;
}

input[type="range"]::-webkit-slider-thumb:hover {
  transform: translateY(-50%) scale(1.2);
}

.slider-track {
  position: absolute;
  height: 6px;
  background: #ccc;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: 1;
  cursor: pointer;
}

.slider-range {
  position: absolute;
  height: 6px;
  background: var(--primary-color);
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}

.slider__marks-text {
  position: absolute;
  top: 8px;
  font-size: 14px;
  color: #909399;
}

.slider__marks-text--min {
  left: 0;
}

.slider__marks-text--max {
  right: 0;
}

/* RESULTS */

.results {
  position: relative;
  margin-top: 48px;
  min-height: 100px;
}

.results__overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.fa-spinner {
  font-size: 56px;
  background: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color)
  );
  color: transparent;
  background-clip: text;
  background-attachment: fixed;
  animation: spin 1s infinite ease-in-out;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.results__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.result {
  width: 100%;
  max-width: 364px;
  border-radius: 8px;
  margin: 32px 12px 0;
  box-shadow: 0px 4px 8px 0px rgba(41, 25, 71, 0.25);
  overflow: hidden;
}

.result:hover .result__img {
  transform: scale(1.01);
}

.result__img-wrapper {
  width: 100%;
  max-height: 270px;
  overflow: hidden;
}

.result__img {
  width: 100%;
  height: 100%;
  transition: transform 350ms ease;
}

.result__content {
  padding: 20px 16px;
}

.result__name {
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 700;
}

.result__details {
  margin: 12px 0;
}

.detail-item {
  color: gray;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 0;
}

.detail-item span {
  margin-left: 5px;
}

.result__price {
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .btn__menu {
    display: block;
  }
  .menu {
    display: none;
  }
  .search-info__title {
    font-size: 22px;
  }
  .search-info__param {
    font-size: 20px;
  }
  .filter__header {
    font-size: 18px;
  }
}

@media (max-width: 680px) {
  .main__header {
    flex-direction: column;
    align-items: center;
  }
  .filter {
    margin-top: 28px;
  }
  .filter__header {
    display: flex;
    justify-content: center;
  }
  .slider-container {
    margin: 28px 0;
  }
}
